@use "variables" as *;
@use "sass:color";

.chat-panel {
  background: linear-gradient(
    135deg,
    color.adjust($accent-blue, $lightness: -25%),
    color.adjust($accent-pink, $lightness: -25%)
  );
}

.chat {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: $font;
  font-size: 15px;
}

.message {
  margin-bottom: 5px;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 80%;
  color: white;
  position: relative;
  min-width: 60%;
  min-height: 15px;
  line-height: 1.3;
  text-align: left;
}

.message > .tail {
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 10px;
  height: 10px;
  display: none;

  transform: scale(0.6);
  svg {
    fill: $accent-blue;
  }
}
.message-received > .tail {
  transform: scaleX(-1) scale(0.5);
  svg {
    fill: $accent-pink;
  }
  left: 0;
}

.message-received {
  background: $accent-pink;
  align-self: flex-start;
}

.message-sent {
  background: $accent-blue;
  align-self: flex-end;
}

/* add extra spacing between messages of different users */
.message-received + .message-sent,
.message-sent + .message-received {
  margin-top: 15px;
}

/* for the last message in the group, a tail! */
.message-sent:has(+ .message-received),
.message-sent:last-child {
  border-bottom-right-radius: 2px;
  .tail {
    display: block;
  }
}

.message-received:has(+ .message-sent),
.message-received:last-child {
  border-bottom-left-radius: 2px;
  .tail {
    display: block;
  }
}
/* END for the last message in the group, a tail! */

/* Heartbeat animation for in-progress messages */
@keyframes heartbeat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.01);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

.message.in-progress {
  animation: heartbeat 1.5s ease-in-out infinite;
}
